openapi: 3.1.0
info:
  title: ALL-Flow API
  version: 1.0.0
  description: |
    ALL-Flow 사내 협업 시스템 백엔드 API 스펙.
    프론트엔드 `lib/types.ts` 와 양방향으로 동기화됩니다.

    인증: Bearer JWT (next-auth v5 발급) — 모든 보호된 엔드포인트에 필요.
servers:
  - url: https://api.allflow.omelet.ai/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local dev
security:
  - bearerAuth: []

tags:
  - name: identity
  - name: projects
  - name: tasks
  - name: issues
  - name: reports
  - name: ai
  - name: realtime
  - name: notifications

paths:
  /users/me:
    get:
      tags: [identity]
      summary: 현재 로그인 사용자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /projects:
    get:
      tags: [projects]
      summary: 프로젝트 목록
      parameters:
        - { name: status, in: query, schema: { $ref: '#/components/schemas/StatusKey' } }
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Project' }
    post:
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }

  /projects/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      tags: [projects]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    patch:
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectPatch' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }

  /tasks:
    get:
      tags: [tasks]
      parameters:
        - { name: projectId, in: query, schema: { type: string } }
        - { name: assigneeId, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/StatusKey' } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }
    post:
      tags: [tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }

  /tasks/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    patch:
      tags: [tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskPatch' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }

  /issues:
    get:
      tags: [issues]
      parameters:
        - { name: status, in: query, schema: { $ref: '#/components/schemas/IssueStatus' } }
        - { name: prio, in: query, schema: { $ref: '#/components/schemas/IssuePrio' } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Issue' }

  /reports/weekly:
    post:
      tags: [reports]
      summary: AI 주간 보고 자동 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [periodStart, periodEnd, scopeIds]
              properties:
                periodStart: { type: string, format: date }
                periodEnd: { type: string, format: date }
                scopeIds: { type: array, items: { type: string } }
                tone: { type: string, enum: [exec, team, casual] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Report' }

  /reports/monthly:
    post:
      tags: [reports]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [year, month]
              properties:
                year: { type: integer }
                month: { type: integer, minimum: 1, maximum: 12 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Report' }

  /ai/complete:
    post:
      tags: [ai]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt: { type: string }
                context: { type: object, additionalProperties: true }
                stream: { type: boolean, default: false }
      responses:
        '200':
          description: OK (non-streaming)
          content:
            application/json:
              schema:
                type: object
                properties:
                  text: { type: string }
                  citations:
                    type: array
                    items:
                      type: object
                      properties:
                        kind: { type: string, enum: [task, doc, message, issue] }
                        id: { type: string }
            text/event-stream:
              schema:
                type: string
                description: SSE 스트림 - data 라인은 JSON `{delta?, done?, citations?}`

  /ai/extract-actions:
    post:
      tags: [ai]
      summary: 회의록/이메일 → 액션 아이템 추출
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source, content]
              properties:
                source: { type: string, enum: [meeting, email, voice, notion, csv] }
                content: { type: string }
                threshold: { type: number, default: 0.7 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ExtractedAction' }

  /realtime/sse:
    get:
      tags: [realtime]
      summary: Server-Sent Events 스트림 (단방향 푸시)
      responses:
        '200':
          description: SSE 스트림
          content:
            text/event-stream:
              schema:
                type: string
                description: 이벤트 - `notification | activity | presence`

  /notifications:
    get:
      tags: [notifications]
      parameters:
        - { name: unread, in: query, schema: { type: boolean } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notification' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    StatusKey:
      type: string
      enum: [todo, doing, review, done, blocked]

    User:
      type: object
      required: [id, name, role, dept, initials, color]
      properties:
        id: { type: string }
        name: { type: string }
        role: { type: string }
        dept: { type: string }
        initials: { type: string }
        color: { type: string }
        email: { type: string, format: email }

    Project:
      type: object
      required: [id, name, code, color, progress, status, due, members, tasks]
      properties:
        id: { type: string }
        name: { type: string }
        code: { type: string }
        color: { type: string }
        progress: { type: integer, minimum: 0, maximum: 100 }
        status: { $ref: '#/components/schemas/StatusKey' }
        due: { type: string, format: date }
        members:
          type: array
          items: { type: string }
        tasks:
          type: object
          required: [total, done]
          properties:
            total: { type: integer }
            done: { type: integer }

    ProjectCreate:
      type: object
      required: [name, code]
      properties:
        name: { type: string }
        code: { type: string }
        color: { type: string }
        due: { type: string, format: date }

    ProjectPatch:
      type: object
      properties:
        name: { type: string }
        progress: { type: integer }
        status: { $ref: '#/components/schemas/StatusKey' }
        due: { type: string, format: date }

    Task:
      type: object
      required: [id, title, status, proj, assignee, due, priority, tags]
      properties:
        id: { type: string }
        title: { type: string }
        status: { $ref: '#/components/schemas/StatusKey' }
        proj: { type: string }
        assignee: { type: string }
        due: { type: string }
        priority:
          type: string
          enum: [high, med, low]
        tags:
          type: array
          items: { type: string }

    TaskCreate:
      type: object
      required: [title, proj, assignee]
      properties:
        title: { type: string }
        proj: { type: string }
        assignee: { type: string }
        due: { type: string, format: date }
        priority:
          type: string
          enum: [high, med, low]

    TaskPatch:
      type: object
      properties:
        title: { type: string }
        status: { $ref: '#/components/schemas/StatusKey' }
        assignee: { type: string }
        due: { type: string, format: date }

    IssueSev:
      type: string
      enum: [critical, high, med, low]
    IssuePrio:
      type: string
      enum: [P0, P1, P2, P3]
    IssueStatus:
      type: string
      enum: [open, in-progress, in-review, resolved]

    Issue:
      type: object
      required:
        [id, title, proj, projColor, sev, prio, status, assignee, reporter,
         tags, created, sla, slaPct, comments, linked]
      properties:
        id: { type: string }
        title: { type: string }
        proj: { type: string }
        projColor: { type: string }
        sev: { $ref: '#/components/schemas/IssueSev' }
        prio: { $ref: '#/components/schemas/IssuePrio' }
        status: { $ref: '#/components/schemas/IssueStatus' }
        assignee: { type: string }
        reporter: { type: string }
        tags:
          type: array
          items: { type: string }
        created: { type: string }
        sla: { type: string }
        slaPct: { type: integer }
        comments: { type: integer }
        linked: { type: integer }
        resolved: { type: boolean }

    Report:
      type: object
      required: [id, kind, periodStart, periodEnd, generatedAt, sections]
      properties:
        id: { type: string }
        kind:
          type: string
          enum: [weekly, monthly]
        periodStart: { type: string, format: date }
        periodEnd: { type: string, format: date }
        generatedAt: { type: string, format: date-time }
        author: { type: string }
        tldr: { type: string }
        kpis:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              value: { type: string }
              delta: { type: string }
              dir: { type: string, enum: [up, down, flat] }
        sections:
          type: array
          items:
            type: object
            properties:
              heading: { type: string }
              body: { type: string }
              citations:
                type: array
                items:
                  type: object
                  properties:
                    kind: { type: string }
                    id: { type: string }
                    label: { type: string }

    ExtractedAction:
      type: object
      required: [title, assignee, confidence]
      properties:
        title: { type: string }
        assignee: { type: string }
        due: { type: string, format: date }
        priority: { type: string, enum: [high, med, low] }
        confidence: { type: number, minimum: 0, maximum: 1 }
        sourceQuote: { type: string }

    Notification:
      type: object
      required: [id, kind, title, time, read]
      properties:
        id: { type: string }
        kind:
          type: string
          enum: [mention, sla, ai, system, comment]
        title: { type: string }
        body: { type: string }
        actor: { type: string }
        time: { type: string, format: date-time }
        read: { type: boolean }
        href: { type: string }

    RealtimeEvent:
      oneOf:
        - { $ref: '#/components/schemas/RealtimeNotification' }
        - { $ref: '#/components/schemas/RealtimeActivity' }
        - { $ref: '#/components/schemas/RealtimePresence' }
        - { $ref: '#/components/schemas/RealtimeChat' }
      discriminator:
        propertyName: type

    RealtimeNotification:
      type: object
      required: [type, payload]
      properties:
        type: { type: string, enum: [notification] }
        payload: { $ref: '#/components/schemas/Notification' }

    RealtimeActivity:
      type: object
      required: [type, payload]
      properties:
        type: { type: string, enum: [activity] }
        payload:
          type: object
          properties:
            who: { type: string }
            what: { type: string }
            target: { type: string }
            verb: { type: string }
            time: { type: string }
            proj: { type: string }
            kind: { type: string }

    RealtimePresence:
      type: object
      required: [type, payload]
      properties:
        type: { type: string, enum: [presence] }
        payload:
          type: object
          properties:
            userId: { type: string }
            online: { type: boolean }
            lastSeen: { type: string, format: date-time }

    RealtimeChat:
      type: object
      required: [type, payload]
      properties:
        type: { type: string, enum: [chat] }
        payload:
          type: object
          properties:
            channelId: { type: string }
            messageId: { type: string }
            authorId: { type: string }
            text: { type: string }
            time: { type: string, format: date-time }
